/* sheared style */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.btn-primary {
  background-color: #e55473;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Header related style */
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 150px 50px 150px;
  background-color: #fceef1;
}

.banner-img {
  width: 636px;
}

.banner-img img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  margin-bottom: -65px;
}

.banner-content > h2 {
  font-size: 80px;
  width: 680px;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner-content > p {
  font-size: 18px;
  width: 630px;
  margin-bottom: 20px;
}

/* featured section style */

.section-title {
  width: 594px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 100px;
}

.section-title > h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}

.section-title > p {
  text-align: center;
  font-size: 18px;
}

.featured-card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 70%;
  margin: auto;
}

.featured-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featured-card-img {
  width: 364px;
  height: 438px;
  border-top-left-radius: 230px;
  border-top-right-radius: 230px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.bg-color-6 {
  background-color: #f2dee7;
}

.featured-card p {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 20px;
}

.featured-card-img img {
  width: 250px;
}
