/* sheared style */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.btn-primary {
  background-color: #e55473;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
}

/* Header related style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 20px 100px;
}

nav > h1 {
  font-size: 45px;
  font-weight: 900;
  color: #e55473;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul > li {
  list-style: none;
  margin-right: 20px;
}

nav > ul > li > a {
  text-decoration: none;
  font-size: 26px;
  font-weight: 900;
  color: black;
}
.banner {
  background-color: #fceef1;
  padding: 50px 0 50px 0;
}
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 80%;
  margin: auto;
}

.banner-img {
  width: 620px;
}

.banner-img img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  margin-bottom: -52px;
}

.banner-content > h2 {
  font-size: 80px;
  width: 680px;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner-content > p {
  font-size: 18px;
  width: 630px;
  margin-bottom: 20px;
}

/* featured section style */

.section-title {
  width: 594px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 100px;
}

.section-title > h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}

.section-title > p {
  text-align: center;
  font-size: 18px;
}

.featured-card-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 80%;
  margin: auto;
}

.featured-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.featured-card-img {
  width: 364px;
  height: 438px;
  border-top-left-radius: 230px;
  border-top-right-radius: 230px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.bg-color-6 {
  background-color: #f2dee7;
}

.bg-color-5 {
  background-color: #d9eff1;
}

.bg-color-7 {
  background-color: #e3ebdb;
}

.featured-card p {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 20px;
}

.featured-card-img img {
  width: 250px;
}

/* Service section start */

.service-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 280px;
  width: 80%;
  margin: auto;
  margin-top: 80px;
  background-color: #f4f4f4;
}

.service-card {
  text-align: center;
}

.service-card > p {
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
}

/* Hot deal section style */

.hot-deal {
  background-color: #fef6f8;
  margin-top: 50px;
}

.deal-container {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  align-items: center;
  margin: auto;
  width: 80%;
  padding: 50px 0;
}

.deal-content {
  width: 580px;
  text-align: center;
}

.deal-content > h2 {
  font-size: 40px;
  font-weight: 900;
}

.deal-content > p {
  font-size: 18px;
  margin: 20px 0;
}

.deal-img {
  width: 300px;
}

/* Instagram section style */

.insta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.insta-card img {
  width: 300px;
}

/* subscribe-deal section style */

.subscribe-deal-bg {
  background-image: url(/asset/Rectangle\ 9.png);
  width: 80%;
  height: 449px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  border-radius: 5px;
}

.subscribe-deal-container {
  margin-top: 40px;
}

.subscribe-deal {
  text-align: center;
  margin-top: 20px;
}

.subscribe-deal > input {
  width: 700px;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

/* footer section style */

footer {
  background-color: #4e4e4e;
  height: 449px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.footer-container {
  text-align: center;
}

.footer-container > h2 {
  font-size: 48px;
  font-weight: 900;
  color: white;
}

.footer-container > h2 > span {
  color: #e55473;
}

.footer-container > p {
  font-size: 18px;
  color: white;
  width: 600px;
  margin: 30px 0;
}

.footer-container > small {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.555);
}
